#app>.container {
    width: 100%;
    position: absolute !important;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;

}

#connectStatus {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#gameFrame {
    width: 100%;
    margin: 0 !important;
}

#main {
    width: 100%;
    padding: 16px;
}

#players {
    width: 49%;
    padding: 16px;
}

#chat {
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    width: 15%;
}

#sendMsg {
    display: none;
}

#chat #chatBox {
    height: 96% !important;
    background: 0;
}

#chat #chatInputArea {
    height: 3%;
}

#chat #ch1, #chat #ch2 {
    position: absolute;
    bottom: 50px;
}

#chat .chl {
    opacity: 0;
}

#chat .chl:nth-last-child(1), #chat .chl:nth-last-child(2), #chat .chl:nth-last-child(3) {
    opacity: 1;
}

#chat .chl:nth-last-child(4) {
    opacity: 1;
}

#chat .chl:nth-last-child(5) {
    opacity: 0.9;
}

#chat .chl:nth-last-child(6) {
    opacity: 0.9;
}

#chat .chl:nth-last-child(7) {
    opacity: 0.8;
}

#chat .chl:nth-last-child(8) {
    opacity: 0.8;
}

#chat .chl:nth-last-child(8) {
    opacity: 0.7;
}

#chat .chl:nth-last-child(9) {
    opacity: 0.7;
}

#chat .chl:nth-last-child(10) {
    opacity: 0.6;
}

#chat .chl:nth-last-child(11) {
    opacity: 0.6;
}

#chat .chl:nth-last-child(12) {
    opacity: 0.5;
}

#chat .chl:nth-last-child(13) {
    opacity: 0.4;
}

#chat .chl:nth-last-child(14) {
    opacity: 0.3;
}

#chat .chl:nth-last-child(15) {
    opacity: 0.2;
}

#chat .chl:nth-last-child(16) {
    opacity: 0.1;
}

.chatInputC {
    min-width: 0;
    width: 100%;
}

#game {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80vh;
    top: 10vh;
}

#game #stage {
    float: none;
    display: inline-block;
    width: 19vw;
    height: 38vw;
}

#game .lstage {
    float: none;
    vertical-align: top;
    display: inline-block;
    width: 6vw;
    height: 6vw;
}

#game #rstage {
    float: none;
    vertical-align: top;
    display: inline-block;
    width: 6vw !important;
    height: 20.5vw !important;
}

#game #stage canvas,
#game .lstage canvas,
#game #rstage canvas {
    width: 100% !important;
    height: 100% !important;
}

#connectStatus {
    color: green;
    font-size: 16px;
}

.ch1 {
    word-break: break-all;
}